// --- MAP --- 

.google-maps{
  height: 100vh;
  width: 100vw;
  position: relative;
  .marker{
    transform: scale(0.2)!important;
  }
  .filter{
    padding: 10px;
    padding-top: 20px;
    position: absolute;
    width: 30vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: translateX(-100%);
    .filter--wrapper{
      width: 100%;
      .filter--title{
        align-items: center;
        margin-bottom: 20px;
        .trais-jaune{
          margin-right: 10px;
        }
      }
      .filter--subtitle{
        font-size: 11px !important;
      }
      .trais-gris{
        background-color: #e9e9e9;
        width: 60%;
        height: 2px;
        margin: 15px auto;
        display: block;
      }
      .filter--subtitle--two{
        font-size: 11px !important;
        width: 80%;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin: auto;
        background-color: #faf9f9;
      }
      ul{
        padding: 0;
        margin: 20px 0px;
        text-transform: uppercase;
        font-size: 12px !important;
        font-weight: 700;
        li{
          margin-top: 10px;
          margin-left: 15px;
          text-transform: none;
          font-weight: normal;
          input{
            margin-right: 10px;
          }
        }
      }
      .reset{
        margin: 0 auto;
        width: 100%;
        max-width: 135px;
        text-align: center;
        font-size: 10px!important;
        text-transform: uppercase;
        color: #0a1229;
        border-bottom: solid 1px #0A1229;
      }
      button{
        text-transform: uppercase;
        margin: auto;
        border-radius: 60px;
        font-size: 12px;
        padding: 10px;
        outline: 0;
        display: block;
        margin-top: 10px;
        &.recap{
          background-color: #f1c800;
          color: #ffffff;
          border: none;
        }
        &.choose{
          font-size: 7px;
          border: solid 1px black;
        }
      }
      .open-menu{
        height: 500px;
        width: 80px;
        border-radius:50px;
        position: absolute;
        top: 50%;
        right: -40px;
        transform: translateY(-50%);
        background-color: #ffffff;
        .under-wrapper--menu{
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 40%;
          img{
            margin-bottom: 15px;
          }
          p{
            transform-origin: center;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}