// --- HEADER --- 

header{
  position: fixed;
  width: 100vw;
  padding: 10px 50px;
  z-index: 1000;
  ul {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    li{
      a{
        color: #fefefe;
      }
    }
  }
}
