// --- HEADER --- 

header{
  position: fixed;
  width: 100vw;
  padding: 10px 50px;
  z-index: 1000;
  ul {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    li{
      margin: 0 50px;
      a{
        color: #fefefe;
        text-transform: uppercase;
      }
    }
  }
}
