.wrapper--start{
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .start{
    width: 90vw;
    height: 90vh;
    h2{
      text-transform: uppercase;
    }
    .card--wrapper{
      height: 80%;
      width: 100%;
      margin: auto;
      overflow: scroll;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      justify-content: center;

      .card{
        color: black;
        height: 350px;
        width: 300px;
        margin: 20px;
        -webkit-box-shadow: 2px 2px 69px -36px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 69px -36px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 69px -36px rgba(0,0,0,0.75);
        border-radius: 20px;
        img{
          width: 100%;
        }
        h2{
          font-size: 14px !important;
          margin-top: 20px;
        }
        h2, p {
          margin-left: 5px;
        }
        .wrappeur--spectateur{
          display: flex;
          .spectateur{
            height: 20px;
            width: 20px;
            img{
              display: block;
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}