// --- GENERALE --- 
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 20px!important;
  font-weight: bold!important;
}

p{
  font-size: 16px!important;
}
a{
  color: #000000!important;
}
li {
  list-style: none;
}

.trais-jaune{
  width: 100%;
  height: 2px;
  background-color: #f1c800;
  margin-top: 20px;
}
.button--stavo{
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin: 0;
  }
}
// --- HEADER --- 

header{
  margin-bottom: 5vh;
  ul {
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

// --- HOME --- 

.home {
  .transport{
    span{
      font-size: 16px;
      font-weight: 600;
      display: block;
    }
  }
  .wrapper--chiffres{
    margin-top: 50px;
  }
}